body {
  background-color: rgb(225, 196, 255);
}


.chiron-goround-tc-navbar {
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title {
  padding: 100px 0px 0px;
  text-align: center;
}

.description {
  padding: 0px 20px;
}

.card {
  border-radius: 20px;
  margin: 50px;
border: 2px solid rgba(188, 105, 236, 0.5);       /* inner white border */
  outline: 5px solid #d59fff;    /* outer purple border */
}


.textincard {
  font-size: 19px;
  text-align: center;
  line-height: 2;
}

.intro {
  background-color: rgb(220, 164, 248);
}

footer {
  margin-top: 50px;
  background-color: #d59fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(120, 38, 167, 0.966);
}

.me{
  text-align: center;
  padding-top: 10px;
};

.fade-up {
  opacity: 0;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}