.navbarBG {
  background-color: #d59fff;
  box-shadow: 0 2px 4px rgba(188, 105, 236, 0.966);
  font-size: 20px;
}

.navbarBG .navbar-brand {
  font-size: 24px; /* adjust to your liking */
}

.nav {
  display: flex;
  align-items: center;
}

.navbarBG .container-fluid {
  justify-content: center;
}